/*-----------------------------

    SETTAGGI ELEMENTI BASE

------------------------------*/


a {
	color: $link_base;
	text-decoration: none;
	outline: none;
	&:hover { color: lighten($link_base, 10)};
}

.tag {
	@extend %tag;
	&.highlight_tag {
		background: darken($colore_tag, 15) !important;
		color: white;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oxygen', sans-serif;
	font-weight: normal;
	color: black;
	.corporate & {
		color: #000;
	}
	a & {
		color: $link_base;
	}
}

h1 {
	font-size:30px;
	font-size:1.875rem;
}
h2 {
	font-size:24px;
	font-size:1.5rem;
}
h3 {
	font-size:16px;
	font-size:1rem;
}
h4 {
	font-size:14px;
	font-size:0.875rem;
}
p {
	font-size:11px;
	font-size:0.688rem;
}

img {
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

.note {
	font-size: 10px !important;
	font-size: 0.625rem !important;
	line-height: 100%;
	color: #ccc;
	&.big {
		font-size: 12px !important;
		font-size: 0.75rem !important;
	}
}
.text-desc {
	font-size: 12px !important;
	font-size: 0.75rem !important;
	color: #999;
}

.table {
	display: table;
}
.table-cell {
	display: table-cell;
}


/*-----------------------------
    
    ICONE SOCIAL ED ELEMENTI VARI

-----------------------------*/

.ok {
    background: url("/bundles/snweb/images/ok_icon.png")no-repeat left center;
    padding-left: 20px;
}

.fb-icon-big {
    display: inline-block;
    @include border-radius(3px);
    float: left;
    width: 34px;
    height: 34px;
    font-size: 0;
    line-height: 0;
    padding: 0;
    background-color: $fb_bg;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/bundles/snweb/images/fb-big.png');
    @include image-2x("/bundles/snweb/images/fb-big2x.png", 40px, 40px);
}
.tw-icon-big {
    display: inline-block;
    @include border-radius(3px);
    float: left;
    width: 34px;
    height: 34px;
    font-size: 0;
    line-height: 0;
    padding: 0;
    background-color: $tw_bg;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/bundles/snweb/images/tw-big.png');
    @include image-2x("/bundles/snweb/images/tw-big2x.png", 40px, 40px);
}

.grey-area {
	position: relative;
	background: $border_light;
	border: solid 1px $msg_border;
	padding: 0px 10px;
	@include border-radius(5px );
}
.message-area {
	position: relative;
	border: solid 1px $msg_border;
	background: $msg_bg;
	color: $msg_text;
	text-align: center;
	@include border-radius(5px );
	padding: 10px 0;
	font-size: 14px;
	font-size: 0.875rem;
	h3 {
		font-size: 19px;
		font-size: 1.2rem;
	}
}

